@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Karla&family=Lobster&display=swap');

body{
	margin: 0;
	padding:0;
	background-color: white;
}
/* starting page */
.container{
	position: relative;
	width: 100vw;
	height: 100vh;
}
.welcome a{
	position: absolute;
	color: black;
	text-decoration: none;
	text-align: center;
	transform: translateY(50%);
	font-size: 180px;
	font-family: 'Bangers', cursive;
	animation: fadein;
	animation-duration: 3s;
	animation-iteration-count: 1;
}
@keyframes fadein {
	from{
		transform: scale(0);
		transform: translateY(50%);
		opacity: 0;
	}
	to{
		transform: scale(1);
		transform: translateY(50%);
		opacity: 1;
	}
}
.welcome a:hover{
	color: white;
	background-color: black;
}

/* content page */
.title a{
	position: absolute;
	color: black;
	text-decoration: none;
	font-family: 'Lobster', cursive;
	font-size: 100px;
	width: 70vw;
	text-align: center;
	left: calc(50% - 35vw);
}
.title a:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: 0;
	left: 0;
	background-color: black;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}
.title a:hover:after{
	visibility: visible;
  transform: scaleX(1);
}
.content{
	position: absolute;
	width: 500px;
	font-family: 'Karla', sans-serif;
	font-size: 24px;
	line-height: 30px;
	color: black;
	top: 300px;
	right: 250px;
}
#detail{
	font-size: 20px;
}
#images{
	position: absolute;
	display: inline-block;
	width: 400px;
	padding: 10px;
	top: 280px;
	left: 200px;
}
#price{
	font-family: 'Lobster', cursive;
	font-size: 60px;
	text-decoration: underline;
	color: black;
	text-align: center;
	position: absolute;
	width: 300px;
	top:550px;
	right: 60px;
	padding: 50px 0;
}
#price:hover{
	animation: shake;
	animation-duration: .8s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}
@keyframes shake {
	0%{transform: rotate(15deg);}
	/* 25%{transform: rotate(0deg);} */
	50%{transform: rotate(-15deg);}
	/* 75%{transform: rotate(0deg);} */
	100%{transform: rotate(15deg);}
}
img{
	padding: 10px;
	width: 400px;
}
.scale{
	animation: enlarge;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes enlarge {
	from{transform: scale(1);}
	to{transform:scale(1.5);}
}
